body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71) );
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    color: white;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 1px solid dodgerblue;
    padding: 20px;
    text-align: center;
    background-color: dodgerblue;
    border-radius:8px ;
}
.inputBox{
position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top:0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{

    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71) );
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor:pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(31, 141, 205), rgb(10, 34, 45) );
}